{% extends 'layouts.html' %}

{% block content %}
    <div class="jumbotron">
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Create Event </legend>
				<div class="form-group">
					{{ form.eventName.label(class="form-control-label") }}

					{% if form.eventName.errors %}
						{{ form.eventName(class="form-control form-control-md is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.eventName.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.eventName(class="form-control form-control-lg") }}
					{% endif %}

				</div>
				<div class="form-group">
					{{ form.eventDescription.label(class="form-control-label") }}

					{% if form.eventDescription.errors %}
						{{ form.eventDescription(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.eventDescription.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.eventDescription(class="form-control form-control-lg") }}
					{% endif %}

				</div>
				<div class="form-group">
					{{ form.location.label(class="form-control-label") }}

					{% if form.location.errors %}
						{{ form.location(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.location.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.location(class="form-control form-control-lg") }}
					{% endif %}
				</div>				
				<div class="form-group">
					{{ form.eventDate.label(class="form-control-label") }}

					{% if form.eventDate.errors %}
						{{ form.eventDate(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.eventDate.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.eventDate(class="form-control form-control-lg") }}
					{% endif %}

				</div>
				<div class="form-group">
					{{ form.fee.label(class="form-control-label") }}

					{% if form.fee.errors %}
						{{ form.fee(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.fee.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.fee(class="form-control form-control-lg") }}
					{% endif %}
				</div>				
			</fieldset>
			<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
    </div>
{% endblock content %}

