{% extends 'layouts.html' %}

{% block content %}
        <!-- <h2> Home Page! </h2> -->
        <div class="jumbotron text-center">
            <img style="width:90px" src="{{ url_for('static', filename='images/hap-logo-with-nameplate.svg') }}">
            <p style="color:gray;" class="lead">
                Events? Hap In!
            </p>
            <h4>
                Make it Happen. HAP in!
            </h4>
            <br>
            {% if session.logged_in == NULL %}
                <a href="{{ url_for('signup') }}" class="btn btn-outline-primary btn-xl"> Sign Up </a>
                <a href="{{ url_for('login') }}" class="btn btn-outline-success btn-xl"> Login </a>
            {% endif %}
        </div>
{% endblock content %}
