{% extends 'layouts.html' %}
    {% block bodyStyle %}
        <body>
    {% endblock bodyStyle %}
    {% block navbarAdjust %}
        <div id="homefeed-navbar" class="container-fluid">
    {% endblock navbarAdjust %}
    {% block navbarToggler %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endblock navbarToggler %}
    {% block navbarRightComponent %}
        <div id="navbar-dropdown" class="dropdown {{ dropdownAppearance }}">
            <div class="dropdown">
                <button id="gear-logo" class="btn btn-outline-warning" data-toggle="dropdown">
                    <div style="width:17px;margin-bottom:-5px;">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="150 -150 500 500" style="enable-background:new 150 -150 500 500;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#FFC000;}
                            </style>
                            <path class="st0" d="M621.6,62.2l-60.1-9.8c-3.4-11.6-8-22.6-13.7-33.1l35.1-50c2.8-4,2.3-9.4-1.1-12.8l-38.9-38.9
                                c-3.5-3.5-8.9-3.9-12.9-1L480.7-48c-10.5-5.8-21.6-10.4-33.3-13.9l-10.5-59.8c-0.8-4.8-5-8.3-9.9-8.3h-55c-4.9,0-9.1,3.5-9.9,8.4
                                l-9.7,59.6c-11.7,3.4-22.8,8-33.4,13.7L270-83.5c-4-2.8-9.4-2.4-12.9,1.1l-38.9,38.9c-3.4,3.4-3.9,8.8-1.1,12.8l34.6,49.5
                                c-5.8,10.6-10.5,21.8-14,33.6l-59.3,9.9c-4.8,0.8-8.3,5-8.3,9.9v55c0,4.9,3.5,9,8.2,9.9l59.3,10.5c3.5,11.8,8.1,23,13.9,33.6l-35,49
                                c-2.8,4-2.4,9.4,1.1,12.9l38.9,38.9c3.4,3.4,8.8,3.9,12.8,1.1l49.6-34.7c10.5,5.8,21.7,10.4,33.5,13.8l9.9,59.6
                                c0.8,4.8,5,8.4,9.9,8.4h55c4.9,0,9-3.5,9.9-8.3l10.6-59.9c11.7-3.5,22.8-8.2,33.3-14l49.9,35c4,2.8,9.4,2.3,12.8-1.1l38.9-38.9
                                c3.5-3.5,3.9-8.9,1-12.9l-35.6-49.4c5.7-10.4,10.3-21.5,13.7-33.1l60.2-10.5c4.8-0.8,8.3-5,8.3-9.9v-55
                                C630,67.2,626.4,63,621.6,62.2z M400,180c-44.1,0-80-35.9-80-80s35.9-80,80-80s80,35.9,80,80S444.1,180,400,180z"/>
                        </svg>
                    </div>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a id="navbar-account" class="dropdown-item" href='{{ url_for("account", username=current_user.username) }}'>Profile</a>
                    <a id="navbar-settings" class="dropdown-item" href='{{ url_for("acc_info_settings") }}'>Settings</a>
                    <a id="navbar-logout" class="dropdown-item" href='{{ url_for("logout") }}'>Log Out</a>
                </div>
            </div>
        </div>
    {% endblock navbarRightComponent %}
    {% block content %}
        <div style="padding-left: calc(100vw - 100%);">
            <div id="home-container">
                <div class="row justify-content-md-center">
                    <div class="col">
                        <div class="leftBox">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="middlebox">
                            <div class="container-fluid">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div id="displayEvents-cont" style="padding:0 10px;">
                                {% if display|length == 0 %}
                                    <div class="card" style="width:565px;margin-bottom:20px;border:1px lightgray solid;">
                                        Follow interests to see the events that you want.
                                    </div>
                                {% else %}
                                    {% for d in display %}
                                        <div class="card" style="width:565px;margin-bottom:20px;border:1px lightgray solid;">
                                            <a href='{{ url_for("event", event_id=d.event_id, bottomBlock=1) }}'><img class="card-img-top" src='{{ url_for("static", filename="images/" + d.event_imgFile) }}' alt="Event Banner" style="height:200px;object-fit:cover;border-bottom:1px lightgray solid;"></a>
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-md-auto" style="border-right:1px lightgray solid;width:80px;">
                                                        <div style="width:50px;">
                                                            <svg version="1.1" id="calendar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                viewBox="-55 147 500 500" style="enable-background:new -55 147 500 500;" xml:space="preserve">
                                                                <style type="text/css">
                                                                    .rectColorGray{fill:#808080;stroke:#D3D3D3;stroke-miterlimit:10;}
                                                                    .fillNone{fill:none;}
                                                                    .fontBlack{fill:black;}
                                                                    .fontArial{font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
                                                                    .fontSize{font-size:150px;}
                                                                    .fontColorWhite{fill:#FFFFFF;}
                                                                    .fontSizeTwo{font-size:100px;}
                                                                </style>
                                                                <path id="calendar_block" class="rectColorGray" d="M361.9,197.4v-33.3h-18v33.3h-62.2v-33.3h-18.1v33.3h-62.2v-33.3h-18.1v33.3h-62.2v-33.3
                                                                h-18.1v33.3H40.9v-33.3H22.8v33.3h-45.8V628h430.6V197.4H361.9z M381.5,585H3.2V343.8h378.4V585z"/>
                                                                <rect x="3.2" y="407" class="fillNone" width="378.4" height="121"/>
                                                                <text id="day" transform="matrix(1 0 0 1 98 521.5586)" class="fontBlack fontArial fontSize">{{ d.event_date_dayNum }}</text>
                                                                <rect x="-22.9" y="240" class="fillNone" width="430.6" height="96"/>
                                                                <text transform="matrix(1 0 0 1 79 311.5986)" class="fontColorWhite fontArial fontSizeTwo">{{ d.event_date_month|upper }}</text>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="col" style="width:350px;">
                                                        <div class="row">
                                                            <div class="col" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                                                <a href='{{ url_for("event", event_id=d.event_id, bottomBlock=1) }}' class="h5" style="color:black;font-size:17.5px;">{{ d.event_name }}</a>
                                                            </div>
                                                            <div class="w-100"></div>
                                                            <div class="col" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                                                <span style="font-size:13.5px;"><span style="color:red;">{{ d.event_date_dayName }}</span> {{ d.event_startTime }} | at {{ d.event_location }}</span>
                                                            </div>
                                                            
                                                            <div class="w-100"></div>
                                                            <div class="col" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                                                <span class="text-muted" style="font-size:13.5px;">Hosted by {% if d.host_id == current_user.userId %}you{% else %}<a href='{{ url_for("account", username=d.host_username) }}' style="color:gray;">{{ d.host_firstName }} {{ d.host_lastName }}</a>{% endif %}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-auto" style="width:120px;">
                                                        {% if d.host_id != current_user.userId %}
                                                            {% if d.joined is not defined %}
                                                                <button type="button" class="btn btn-primary joinBtn btn-sm" style="width:80px;border-radius:100px;" event_id="{{ d.event_id }}" bottom_block="1">Join</button>
                                                            {% else %}
                                                                <button type="button" class="btn btn-outline-secondary unjoinBtn btn-sm" style="width:80px;border-radius:100px;" event_id="{{ d.event_id }}" bottom_block="1">Unjoin</button>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>       
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% if display|length != 0 %}
                                <div class="container-fluid" style="margin:10px 0 5px 0;">
                                    <nav aria-label="...">
                                        <ul class="pagination pagination-sm justify-content-center">
                                            {% if not populateCategory %}
                                                {% if eventBatchPage == 1 %}
                                                    <li class="page-item disabled">
                                                        <span class="page-link">
                                                            Previous
                                                        </span>
                                                    </li>
                                                {% else %}
                                                    <li id="previous-paginationPage" class="page-item">
                                                        <a class="page-link"  href='{{ url_for("home", eventBatchPage=(eventBatchPage-1)) }}'>
                                                            Previous
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                <li id="first-paginationPage" class="page-item active" aria-current="page">
                                                    <a class="page-link" href='{{ url_for("home", eventBatchPage=(eventBatchPage)) }}'>
                                                        {{ eventBatchPage }}
                                                    </a>
                                                </li>
                                                <li id="second-paginationPage" class="page-item">
                                                    <a class="page-link" href='{{ url_for("home", eventBatchPage=(eventBatchPage+1)) }}'>
                                                        {{ eventBatchPage + 1 }}
                                                    </a>
                                                </li>
                                                <li id="third-paginationPage" class="page-item">
                                                    <a class="page-link" href='{{ url_for("home", eventBatchPage=(eventBatchPage+2)) }}'>
                                                        {{ eventBatchPage + 2 }}
                                                    </a>
                                                </li>
                                                <li id="next-paginationPage" class="page-item">
                                                    <a class="page-link" href='{{ url_for("home", eventBatchPage=(eventBatchPage+1)) }}'>
                                                        Next
                                                    </a>
                                                </li>
                                                <script>
                                                    function UrlExists(url, cb){
                                                        jQuery.ajax({
                                                            url:      url,
                                                            dataType: 'text',
                                                            type:     'GET',
                                                            complete:  function(xhr){
                                                                if(typeof cb === 'function')
                                                                cb.apply(this, [xhr.status]);
                                                            }
                                                        });
                                                    }
                                                    UrlExists("/home/eventpopulate=" + {{ eventBatchPage + 2 }}, function(status){
                                                        if(status === 404){
                                                            $("#third-paginationPage").addClass("disabled");
                                                        }
                                                    });
                                                    UrlExists("/home/eventpopulate=" + {{ eventBatchPage + 1 }}, function(status){
                                                        if(status === 404){
                                                            $("#second-paginationPage").addClass("disabled");
                                                            $("#third-paginationPage").addClass("disabled");
                                                            $("#next-paginationPage").addClass("disabled");
                                                        }
                                                    });
                                                </script>
                                            {% else %}
                                                {% if eventBatchPage == 1 %}
                                                    <li class="page-item disabled">
                                                        <span class="page-link">
                                                            Previous
                                                        </span>
                                                    </li>
                                                {% else %}
                                                    <li id="previous-paginationPage" class="page-item">
                                                        <a class="page-link"  href='{{ url_for("home", eventBatchPage=(eventBatchPage-1), populateCategory=populateCategory) }}'>
                                                            Previous
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                <li id="first-paginationPage" class="page-item active" aria-current="page">
                                                    <a class="page-link" href='{{ url_for("home", eventBatchPage=(eventBatchPage), populateCategory=populateCategory) }}'>
                                                        {{ eventBatchPage }}
                                                    </a>
                                                </li>
                                                <li id="second-paginationPage" class="page-item">
                                                    <a class="page-link" href='{{ url_for("home", eventBatchPage=(eventBatchPage+1), populateCategory=populateCategory) }}'>
                                                        {{ eventBatchPage + 1 }}
                                                    </a>
                                                </li>
                                                <li id="third-paginationPage" class="page-item">
                                                    <a class="page-link" href='{{ url_for("home", eventBatchPage=(eventBatchPage+2), populateCategory=populateCategory) }}'>
                                                        {{ eventBatchPage + 2 }}
                                                    </a>
                                                </li>
                                                <li id="next-paginationPage" class="page-item">
                                                    <a class="page-link" href='{{ url_for("home", eventBatchPage=(eventBatchPage+1), populateCategory=populateCategory) }}'>
                                                        Next
                                                    </a>
                                                </li>
                                                <script>
                                                    function UrlExists(url, cb){
                                                        jQuery.ajax({
                                                            url:      url,
                                                            dataType: 'text',
                                                            type:     'GET',
                                                            complete:  function(xhr){
                                                                if(typeof cb === 'function')
                                                                cb.apply(this, [xhr.status]);
                                                            }
                                                        });
                                                    }
                                                    UrlExists("/home/cat=" + {{ populateCategory }} + "/eventpopulate=" + {{ eventBatchPage + 2 }}, function(status){
                                                        if(status === 404){
                                                            $("#third-paginationPage").addClass("disabled");
                                                        }
                                                    });
                                                    UrlExists("/home/cat=" + {{ populateCategory }} + "/eventpopulate=" + {{ eventBatchPage + 1 }}, function(status){
                                                        if(status === 404){
                                                            $("#second-paginationPage").addClass("disabled");
                                                            $("#third-paginationPage").addClass("disabled");
                                                            $("#next-paginationPage").addClass("disabled");
                                                        }
                                                    });
                                                </script>
                                            {% endif %}
                                            
                                        </ul>
                                    </nav>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="rightBox">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="createBtnFloat" class="float" data-toggle="modal" data-target="#createEventModal">
            <img id="plus-logo" src='{{ url_for("static", filename="assets/plus-logo-white.svg") }}'>
        </a>
        <div class="label-container">
            <div class="label-text">Create Event</div>
        </div>
        <div class="modal" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle" style="padding-left:10px;">Create Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="" enctype="multipart/form-data" onsubmit="submit.disabled=true;return true;">
                        <div class="modal-body" id="createEvent-modalContent">
                            <div class="container-fluid">
                                {{ formTwo.hidden_tag() }}
                                <fieldset class="form-group">
                                    <label>Event Banner</label>
                                    <div class="container-fluid" style="border-bottom:1px lightgray solid;border-top:1px lightgray solid;margin:4px 0 20px 0;padding:40px 0 40px 0">
                                        <div class="row">
                                            <div class="col-md-auto">
                                                <div class="form-group">
                                                    {{ formTwo.imageFile(class="form-control-file") }}
                                                    {% if formTwo.imageFile.errors %}
                                                        {% for error in formTwo.imageFile.errors %}
                                                            <span class="text-danger"> {{ error }} </span></br>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img class="card-img-top" id="image-preview" style="height:200px;object-fit:cover;background:gray;">
                                                <script>document.getElementById("image-preview").src = '{{ url_for("static", filename="images/uploadEventBanner-blankPreview.jpg") }}';</script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Event Name</label>
                                        <div id="count-cont" style="float:right;display:none;">
                                            <span class="text-muted"><span id="countEventNameChar" style="color:red;">0</span>/80</span>
                                        </div>
                                        {% if formTwo.eventName.errors %}
                                            {{ formTwo.eventName(class="form-control form-control-lg is-invalid", placeholder="Event name", onkeyup="count_up(this);") }}
                                            <div class="invalid-feedback">
                                                {% for error in formTwo.eventName.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ formTwo.eventName(class="form-control form-control-lg", placeholder="Event name", onkeyup="count_up(this);") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label>Event Description</label>
                                        {% if formTwo.eventDescription.errors %}
                                            {{ formTwo.eventDescription(class="form-control form-control-lg is-invalid", placeholder="Event description") }}
                                            <div class="invalid-feedback">
                                                {% for error in formTwo.eventDescription.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ formTwo.eventDescription(class="form-control form-control-lg", placeholder="Event description") }}
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Event Date</label>
                                                {% if formTwo.eventDate.errors %}
                                                    {{ formTwo.eventDate(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in formTwo.eventDate.errors %}
                                                            <span> {{ error }} </span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ formTwo.eventDate(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Event Start Time</label>
                                                {% if formTwo.startTime.errors %}
                                                    {{ formTwo.startTime(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in formTwo.startTime.errors %}
                                                            <span> {{ error }} </span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ formTwo.startTime(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Event End Time</label>
                                                {% if formTwo.endTime.errors %}
                                                    {{ formTwo.endTime(class="form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in formTwo.endTime.errors %}
                                                            <span> {{ error }} </span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ formTwo.endTime(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-auto" id="createEvent-fee">
                                            <div class="form-group">
                                                <label>Event Fee</label>
                                                {% if formTwo.fee.errors %}
                                                    {{ formTwo.fee(class="form-control form-control-lg is-invalid", placeholder="") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in formTwo.fee.errors %}
                                                            <span> {{ error }} </span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ formTwo.fee(class="form-control form-control-lg", placeholder="") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Event Location</label>
                                                {% if formTwo.location.errors %}
                                                    {{ formTwo.location(class="form-control form-control-lg is-invalid", placeholder="") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in formTwo.location.errors %}
                                                            <span> {{ error }} </span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ formTwo.location(class="form-control form-control-lg", placeholder="") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ formTwo.categoryoption.label }}
                                        {% if formTwo.categoryoption.errors %}
                                            {{ formTwo.categoryoption(class="form-control form-control-lg", placeholder="Category") }}
                                            <div class="invalid-feedback">
                                                {% for error in formTwo.categoryoption.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ formTwo.categoryoption(class="form-control form-control-lg", placeholder="Category") }}
                                        {% endif %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="close-updateEventModal" type="button" class="btn btn-secondary" data-dismiss="modal" style="width:80px;border-radius:100px;">Close</button>
                            {{ formTwo.submit(class="btn btn-success", style="color:white;width:80px;border-radius:100px;") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock content %}