<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <?xml version="1.0" encoding="utf-8"?>
    
    {% if title %}
        <title> Hap | {{title}} </title>
    {% else %}
        <title> Welcome to Hap! </title>
    {% endif %}

    
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="shortcut icon" href="{{ url_for("static", filename="assets/hap-logo.ico") }}">

</head>
<body>
    <div class="container-fluid" style="padding:0 10%;border-bottom:1px lightgray solid;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;">
            {% block navbarComponents %}
            {% endblock navbarComponents %}
        </nav>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% block content %}{% endblock content %}
<script type="text/javascript" src="{{ url_for("static", filename="js/main.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/jquery-3.3.1.slim.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.bundle.js") }}"></script>
</body>
</html>