{% extends 'layouts.html' %}
	{% block bodyStyle %}
		<body style="background-color:#FFC000;">
	{% endblock bodyStyle %}
	{% block content %}
		<div class="container">
			<div class="forms" style="background-color:white;width:420px;">
				<div class="row align-items-center">
					<div class="col-md-auto">
						<img src='{{ url_for("static", filename="assets/hap-logo.svg") }}' style="width:50px;margin:15px 0;">
					</div>
					<div class="col">
						<p class="h4" style="color:#FFC000;">Log in to Hap</p>
					</div>
				</div>
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<div class="form-group">
							<label>Username or Email Address</label>
							{% if form.usernameOrEmail.errors %}
								{{ form.usernameOrEmail(class="form-control form-control-lg is-invalid", placeholder="Username or Email Address", style="width:370px;") }}
								<div class="invalid-feedback">
									{% for error in form.usernameOrEmail.errors %}
										<span> {{ error }} </span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.usernameOrEmail(class="form-control form-control-lg", placeholder="Username or Email Address", style="width:370px;") }}
							{% endif %}
						</div>
						<div class="form-group">
							<label>Password</label>
							{% if form.password.errors %}
								{{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password", style="width:370px;") }}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
										<span> {{ error }} </span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.password(class="form-control form-control-lg", placeholder="Password", style="width:370px;") }}
							{% endif %}
						</div>
						<div class="form-check">
							<div>
								{{ form.remember(class="form-check-input") }}
							</div>
							<div>
								<label>Remember Password</label>
							</div>
						</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-success", style="color:white;") }}
					</div>
					<small class="text-muted ml-2">
						<a href="#">Forgot password?</a>
					</small>
				</form>
				<div class="border-top pt-3">
					<small class="text-muted">
						New to Hap? <a class="ml-2" href='{{ url_for("signup") }}'>Sign up here</a>
					</small>
				</div>
			</div>
		</div>
	{% endblock content %}