{% extends "layouts.html" %}
    {% block bodyStyle %}
        <body>
    {% endblock bodyStyle %}
    {% block navbarAdjust %}
        <div class="container-fluid" style="position:fixed;z-index:2;padding:0 17%;border-bottom:1px lightgray solid;top:-0.5px;background:white;">
    {% endblock navbarAdjust %}
    {% block navbarToggler %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endblock navbarToggler %}
    {% block flashMessage %}
        <div id="alert-box" class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    {% endblock flashMessage %}
    {% block navbarRightComponent %}
        <div class="dropdown">
            <button id="gear-logo" class="btn btn-outline-warning" type="button" data-toggle="dropdown">
                <div style="width:17px;margin-bottom:-5px;">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="150 -150 500 500" style="enable-background:new 150 -150 500 500;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#FFC000;}
                        </style>
                        <path class="st0" d="M621.6,62.2l-60.1-9.8c-3.4-11.6-8-22.6-13.7-33.1l35.1-50c2.8-4,2.3-9.4-1.1-12.8l-38.9-38.9
                            c-3.5-3.5-8.9-3.9-12.9-1L480.7-48c-10.5-5.8-21.6-10.4-33.3-13.9l-10.5-59.8c-0.8-4.8-5-8.3-9.9-8.3h-55c-4.9,0-9.1,3.5-9.9,8.4
                            l-9.7,59.6c-11.7,3.4-22.8,8-33.4,13.7L270-83.5c-4-2.8-9.4-2.4-12.9,1.1l-38.9,38.9c-3.4,3.4-3.9,8.8-1.1,12.8l34.6,49.5
                            c-5.8,10.6-10.5,21.8-14,33.6l-59.3,9.9c-4.8,0.8-8.3,5-8.3,9.9v55c0,4.9,3.5,9,8.2,9.9l59.3,10.5c3.5,11.8,8.1,23,13.9,33.6l-35,49
                            c-2.8,4-2.4,9.4,1.1,12.9l38.9,38.9c3.4,3.4,8.8,3.9,12.8,1.1l49.6-34.7c10.5,5.8,21.7,10.4,33.5,13.8l9.9,59.6
                            c0.8,4.8,5,8.4,9.9,8.4h55c4.9,0,9-3.5,9.9-8.3l10.6-59.9c11.7-3.5,22.8-8.2,33.3-14l49.9,35c4,2.8,9.4,2.3,12.8-1.1l38.9-38.9
                            c3.5-3.5,3.9-8.9,1-12.9l-35.6-49.4c5.7-10.4,10.3-21.5,13.7-33.1l60.2-10.5c4.8-0.8,8.3-5,8.3-9.9v-55
                            C630,67.2,626.4,63,621.6,62.2z M400,180c-44.1,0-80-35.9-80-80s35.9-80,80-80s80,35.9,80,80S444.1,180,400,180z"/>
                    </svg>
                </div>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a id="navbar-account" class="dropdown-item" href='{{ url_for("account", username=current_user.username) }}'>Profile</a>
                <a id="navbar-settings" class="dropdown-item" href='{{ url_for("acc_info_settings") }}'>Settings</a>
                <a id="navbar-logout" class="dropdown-item" href='{{ url_for("logout") }}'>Log Out</a>
            </div>
        </div>
    {% endblock navbarRightComponent %}
    {% block content %}
        <div class="container-fluid" style="width:1000px;height:auto;border:1px lightgray solid;margin-top:70px;padding:auto;margin-bottom:50px;">
            <div class="row" style="height:100%;margin:0;padding:0;">
                <div class="col">
                    <div class="container-fluid" id="settings-leftPanel">
                        <div class="row" id="settingsRightPanel-row">
                            <div class="col">
                                <div style="height:100px;"></div>
                            </div>
                            <div class="w-100"></div>
                            {% for item in leftPanelItems %}

                                <div class="col-md-auto" style="padding:0 10px;width:40px;">
                                    <img src='{{ url_for("static", filename="assets/" + item[0]) }}' style="width:22px;">
                                </div>
                                <div class="col" style="padding:0 0 5px 0;">
                                    {% if item[0] == 'controls.svg' %}
                                        <a class="lead" href='{{url_for(item[1])}}' style="font-size:14px;color:black;text-decoration:{{ itemUnderline }}">{{ item[2] }}</a>
                                    {% else %}
                                        <a class="lead" href='{{url_for(item[1])}}' style="font-size:14px;color:black;">{{ item[2] }}</a>
                                    {% endif %}
                                </div>
                                <div class="w-100"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col" style="padding-top:50px;">
                    <div class="container-fluid" id="settings-rightDisplayBox">
                        <form method="POST" action="" onsubmit="submit.disabled=true;return true;">
                            <div id="interests-modalContent" style="height:500px;">
                                <div class="container-fluid">
                                    {{ formOne.hidden_tag() }}
                                    <div class="container-fluid">
                                        <div class="row" id="interest-panel">
                                            {% for d in display %}
                                                {% if d.user_id is not defined %}
                                                    <div class="col-md-auto" style="margin:10px -10px;">
                                                        <button type="button" class="btn btn-outline-warning followBtn interestBtn" id="{{ d.id }}">{{ d.categoryName }}</button>
                                                    </div>
                                                {% elif d.user_id == current_user.userId %}
                                                    <div class="col-md-auto" style="margin:10px -10px;">
                                                        <button type="button" class="btn btn-warning unfollowBtn interestBtn" id="{{ d.id }}">{{ d.categoryName }}</button>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="float-right">
                                {{ formOne.submit(class="btn btn-success", value="Follow") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}