body {
    padding:0;
    margin:0;
    overflow-y:scroll;
}
input:not(type=submit) {
    height:50px;
    padding-bottom:25px;
}
::-webkit-input-placeholder {
    font-size:15px;
}
#navbar-nameplate {
    order:1;
    top:-3px;
}
#navbar-nameplate img {
    float:left;
    width:70px;
}
#navbar-loginBox {
   width:290px;
   height:auto;
}
#navbar-loginBox input {
   font-size:15px;
}
#navbar-signup:hover {
    background-color:#FFC000;
    color:white;
}
#navbar-forgotPass:hover {
    background-color:#FFC000;
    color:white;
}
#homeContent-commBlock {
    width:305px;
    height:350px;
}
#homeContent-signup {
    margin-top:10px;
    width:88%;
    color:white;
}
#homeContent-login {
    margin-top:10px;
    width:88%;
    border:1px #FFC000 solid;
    color:black;
}
#homeContent-login:hover {
    color:white;
}
#home-about {
    color:gray;
    font-size:15px;
}
#home-about:hover {
    text-decoration:underline;
}
.forms {
    width:800px;
    height:auto;
    border-radius:10px;
    margin:25px auto 0 auto;
    padding:25px;
}
#gear-logo:hover .st0 {
    fill:white;
}
#navbar-myEvents:hover {
    background-color:#FFC000;
    color:white;
}
#navbar-createEvent:hover {
    background-color:#FFC000;
    color:white;    
}
#navbar-account:hover {
    background-color:#FFC000;
    color:white;    
}
#navbar-settings:hover {
    background-color:#FFC000;
    color:white;    
}
#navbar-logout:hover {
    background-color:#FFC000;
    color:white;    
}
.profile-ids {
    color:black;
}
.profile-ids:hover {
    text-decoration:none;
    color:black;
}
#home-container {
    height:auto;
    width:1200px;
    margin:70px auto 0 auto;
}
.leftBox {
    margin-left:20px;
    height:200px;
    border:1px lightgray solid;
    background-color:white;
}
.middlebox {
    height:auto;
    background-color:white;
}
.rightBox {
    margin-right:20px;
    height:200px;
    border:1px lightgray solid;
    background-color:white;
}
#createEvent-fee input {
    width:150px;
}
#updateEvent-fee input {
    width:150px;
}
#profile-header {
    height:auto;
    width:920px;
    margin:45px auto 0 auto;
    padding-bottom:5px;

}
#profile-body {
    height:400px;
    width:920px;
    margin:5px auto 0 auto;
}
#profileBody-navbar {
    width:100%;
    height:35px;
    font-size:18px;
    font-weight:bold;
}
.bodyNavbar-container {
    float:left;
    margin:5px 40px 0 0;
}
.bodyNavbar-elements {
    color:black;
}
.bodyNavbar-elements:hover {
    text-decoration:none;
    color:black;
}
#profileBody-content {
    height:auto;
    width:100%;
    padding-top:5px;
}
#create-panel {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    height:100px;
}
#close-createEventModal:hover {
    color:white;
}
#close-updateEventModal:hover {
    color:white;
}
#close-deleteEventModal:hover {
    color:white;
}
#settings-updateProfile {
    height:auto;
    width:1200px;
    margin:90px auto 0 auto;
}
#alert-box {
    z-index:2;
    width:350px;
    position:fixed;
    right:40px;
    bottom:40px;
}
#event-info {
    height:auto;
    width:1200px;
    margin:100px auto 0 auto;
    border:1px lightgray solid;
}
#feed-updateBtn:hover {
    color:white;
}
#deleteEvent-closeModalBtn:hover {
    color:white;
}
#accountdeleteEvent-CloseModalBtn:hover {
    color:white;
}
#createEvent-modalContent {
    font-size:15px;
    overflow-y: auto;
    height:500px;
}
#updateEvent-modalContent {
    font-size:15px;
    height: 250px;
    overflow-y: auto;
    height:500px;
}
#setupAcc-modalContent {
    font-size:15px;
    height: 250px;
    overflow-y: auto;
    height:500px;
}
#interests-modalContent {
    font-size:15px;
    height: 250px;
    overflow-y: auto;
    height:500px;
}
#homefeed-navbar {
    position:fixed;
    z-index:2;
    padding:0 17%;
    border-bottom:1px lightgray solid;
    width:100%;
    top:-0.5px;
    background:white;
}
#event-navbar {
    position:fixed;
    z-index:2;
    padding:0 17%;
    border-bottom:1px lightgray solid;
    top:-0.5px;
    background:white;
}
body.modal-open {
    overflow: hidden;
}
body.modal-open #homefeed-navbar {
    padding:0 17.9% 0 16.82%;
}
body.modal-open #event-navbar {
    padding:0 17.9% 0 16.82%;
}
body.modal-open #alert-box{
    right:57px;
}
#pencil-logo:hover .st0{
    fill:white;
}
#garbagecan-logo:hover .st0{
    fill:white;
}
#signupModals .close {
    display:none;
}
#interest-panel .followBtn:hover {
    color:white;
}
#interest-panel .unfollowBtn {
    color:white;
}
#settings-leftPanel {
    border-right:1px lightgray solid;
    height:100%;
    width:200px;
    padding:0;
}
#settingsRightPanel-row .col {
    margin-bottom:40px;
}
#settings-rightDisplayBox {
    height:720px;
    width:700px;
}
.label-container{
	position:fixed;
	bottom:42px;
	right:110px;
	display:table;
	visibility: hidden;
}
.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}
.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:55px;
	background-color:#FFC000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
#createBtnFloat.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}
#createBtnFloat.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}
body.modal-open .float {
    right:72px;
}
#plus-logo {
    width:30px;
    margin-top:11.5px;
}
#detailsLabel {
    color:black;
}
#detailsLabel:hover {
    text-decoration:none;
}
#reviewsLabel {
    color:black;
}
#reviewsLabel:hover {
    text-decoration:none;
}
#ratingsLabel {
    color:black;
}
#ratingsLabel:hover {
    text-decoration:none;
}
#joinersBlock {
    margin-top:15px;
}
#descriptionBlock {
    margin:15px 0 100px 0;
}
#postReviewBlock {
    margin-top:15px;
    display:none;
}
#postRatingBlock {
    margin-top:15px;
    display:none;
}
#ratingsBlock {
    margin:15px 0 100px 0;
}
#reviewsBlock {
    margin:15px 0 100px 0;
    display:none;
}
#reviewCard:target {
    border:1px #FFC000 solid;
}
#joiners-modalContent {
    font-size:15px;
    height: 450px;
    overflow-y: auto;
}

.rating {
    float:left;
  }
  
  .rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
  }
  
  .rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:gray;
  }
  
  .rating:not(:checked) > label:before {
    content: '★ ';
  }
  
  .rating > input:checked ~ label {
    color: gold;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: gold;
  }
  
  .rating > label:active {
    position:relative;
    top:2px;
    left:2px;
  }