html {
    overflow-y: scroll;
}
body {
    padding:0;
    margin:0;
}
.modal-open[style] {
    padding-right: 0px !important;
}
::-webkit-input-placeholder {
    font-size:15px;
}
::-moz-placeholder {
    font-size:15px;
}
:-ms-input-placeholder {
    font-size:15px;
}
:-moz-placeholder {
    font-size:15px;
}
#navbar-nameplate {
    order:1;
    top:-3px;
}
#navbar-nameplate img {
    float:left;
    width:70px;
}
#navbar-loginBox {
   width:290px;
   height:auto;
}
#navbar-loginBox input {
   height:35px;
   font-size:15px;
}
#navbar-signup:hover {
    background-color:#FFC000;
    color:white;
}
#navbar-forgotPass:hover {
    background-color:#FFC000;
    color:white;
}
#homeContent-commBlock {
    width:305px;
    height:350px;
}
#homeContent-signup {
    margin-top:10px;
    width:88%;
    color:white;
}
#homeContent-login {
    margin-top:10px;
    width:88%;
    border:1px #FFC000 solid;
    color:black;
}
#homeContent-login:hover {
    color:white;
}
#home-about {
    color:gray;
    font-size:15px;
}
#home-about:hover {
    text-decoration:underline;
}
.forms {
    border-radius:10px;
    width:800px;
    height:auto;
    border:1px lightgray solid;
    margin:25px auto 0 auto;
    padding:25px;
}
#gear-logo:hover .st0 {
    fill:white;
}
#navbar-myEvents:hover {
    background-color:#FFC000;
    color:white;
}
#navbar-createEvent:hover {
    background-color:#FFC000;
    color:white;    
}
#navbar-settings:hover {
    background-color:#FFC000;
    color:white;    
}
#navbar-logout:hover {
    background-color:#FFC000;
    color:white;    
}
.profile-ids {
    color:black;
}
.profile-ids:hover {
    text-decoration:none;
    color:black;
}
#home-container {
    height:auto;
    width:1200px;
    margin:100px auto 0 auto;
}
#home-leftBox {
    margin-left:20px;
    height:200px;
    border:1px lightgray solid;
}
#home-feed {
    height:auto;
}
#home-rightBox {
    margin-right:20px;
    height:200px;
    border:1px lightgray solid;
}
#createEvent-fee input {
    width:150px;
}
#profile-header {
    height:auto;
    width:1000px;
    margin:75px auto 0 auto;
}
#event-header {
    height:auto;
    width:1000px;
    margin:100px auto 0 auto;
}
#profile-body {
    height:400px;
    width:920px;
    margin:5px auto 0 auto;
}
#profileBody-navbar {
    width:948px;
    height:35px;
    font-size:18px;
    font-weight:bold;
    border-bottom:1px lightgray solid;
}
.bodyNavbar-container {
    float:left;
    margin:5px 40px 0 0;
}
.bodyNavbar-elements {
    color:black;
}
.bodyNavbar-elements:hover {
    text-decoration:none;
}
#profileBody-content {
    height:365px;
    width:948px;
    padding-top:5px;
}
#create-panel {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    height:100px;
}
#plus-logo {
    margin:30px 0 0 20px;
}
#plus-logo:hover .st0{
    fill:white;
}
#close-createEventModal:hover {
    color:white;
}
#settings-updateProfile {
    height:auto;
    width:1200px;
    margin:100px auto 0 auto;
}
#alert-box {
    z-index:2;
    width:350px;
    position:fixed;
    right:40px;
    bottom:40px;
}
#event-info {
    height:auto;
    width:1200px;
    margin:100px auto 0 auto;
    border:1px lightgray solid;
}
#feed-updateBtn:hover {
    color:white;
}
#homeDeleteEvent-closeModalBtn:hover {
    color:white;
}
#accountdeleteEvent-CloseModalBtn:hover {
    color:white;
}
#createEvent-modalContent {
    font-size:13.5px;
}