{% extends 'layouts.html' %}

{% block content %}
        <!-- <h2> Home Page! </h2> -->
        <br>
        <div class="jumbotron text-center">
            <h1> Hap </h1>
            <p style="color:gray;" class="lead">
                Events? Hap In!
            </p>
            <p> Know what's happening out there! Join the FUN! </p>
            <br>
            {% if session.logged_in == NULL %}
                <a href="{{ url_for('signup') }}" class="btn btn-outline-primary btn-xl"> Sign Up </a>
                <a href="{{ url_for('login') }}" class="btn btn-outline-success btn-xl"> Login </a>
            {% endif %}
        </div>
{% endblock content %}
