<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% if title %}
        <title> {{title}} | Hap </title>
    {% else %}
        <title> Hap </title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/hap-logo.ico') }}"

</head>
<body>

        <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Hap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                                <!-- <a class="nav-item nav-link" href="#">Account</a>
                                <a class="nav-item nav-link" href="#">Logout</a> -->
                                <a class="nav-item nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                                
                </div>
            </div>
            </div>
        </nav>
        </header>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %} {% endblock content %}
        </div>

</body>
</html>